body,html{
  background-color:#ccc;
  height:100%;
  min-height:100%;
  
  *{
    position:relative;
  }
  
  input, button{
    margin:0px 10px 10px 0px;
    
    &:last-child{
      margin-bottom:0px;
    }
  }
}